.book-list{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.book-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
    gap: 25px;
}

.book-desc{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}

.book-content img{
    width: 200px;
    height: auto;
}

.book-meta{
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-meta .key{
    font-weight: 600;
    margin-right: 12px;
}