.slider-item img {
    width: 100%;
    height: 400px;
}

.slick-prev,
.slick-next {
    z-index: 1;
}

.slick-prev{
    left: 30px;
}

.slick-next{
    right: 30px;
}

.slick-dots {
    bottom: 20px;
}

.slick-dots li button:before{
    font-size: 12px;
    color: #fff;
    opacity: 1;
}